// .babelrc
{
  "presets": [
    "@babel/react",
    ["@babel/env",{ "useBuiltIns": "usage", "corejs": 3}],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/proposal-decorators", { "legacy": true }],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "lodash"
  ]
}
